body{
    width: 1900px ;
    height: 900px;
    border: 1px solid black;
   
    margin: center;
}

#login{
    width: 250px;
    height: 200px;
    margin: auto;
    border: 0px solid black;
    margin-top: 253px;
    text-align: center;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;


    }

#down{
    width: 150px;
    height: 75px;
    border: 0px solid black;
    margin: auto;
    margin-left: 830px;
    margin-top: 65px;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;

}



